
<div id="filters">

    <div class="filter">
        <a href="/listings?category=beaches">
            <!-- <i class="fa-solid fa-umbrella-beach"></i> -->
            <i class="hgi-stroke hgi-beach"></i>
            <p>Beaches</p>
        </a>
    </div>

    
    <div class="filter">
        <a href="/listings?category=deserts">
            <i class="hgi-stroke hgi-desert" ></i>
            <p>Desert Oases</p>
        </a>
    </div>


    <div class="filter">
        <a href="/listings?category=iconic cities">
            <!-- <i class="fa-solid fa-mountain-city"></i> -->
            <i class="hgi-stroke hgi-city-02"></i>
            <p>Iconic cities</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=mountains">
            <!-- <i class="fa-solid fa-mountain"></i> -->
            <i class="hgi-stroke hgi-mountain" ></i>
            <p>Mountains</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=castle">
            <!-- <i class="fa-solid fa-chess-rook"></i> -->
            <i class="hgi-stroke hgi-castle" ></i>
            <p>Castle</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=farms">
            <!-- <i class="fa-solid fa-cow"></i> -->
            <i class="hgi-stroke hgi-cowboy-hat" ></i>
            <p>Farms</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=camping">
            <!-- <i class="fa-solid fa-campground"></i> -->
            <i class="hgi-stroke hgi-campfire" ></i>
            <p>Camping</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=wildlife">
            <!-- <i class="fa-solid fa-tree"></i> -->
            <i class="hgi-stroke hgi-tree-02"  ></i>
            <p>Wildlife Sanctuaries</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=arctic">
            <!-- <i class="fa-solid fa-snowflake"></i> -->
            <i class="hgi-stroke hgi-snow"  ></i>
            <p>Arctic</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=islands">
            <i class="hgi-stroke hgi-island"></i>
            <p>Islands</p>
        </a>
    </div>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input"
                type="checkbox" 
                role="switch"
                id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
    </div>

</div>



